QListView {
    outline: none;
}

#menu::item {
    background-color: #ffffff;
    color: #000000;
    border: transparent;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px;
}

#menu::item:hover {
    background-color: #f5f5f5;
}

#menu::item:selected {
    border-left: 5px solid #66ccff;
}
