QCalendarWidget QAbstractItemView{
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:500;
    outline:0px;
  }
  QCalendarWidget QAbstractItemView:disabled{
    color:#D3D3D3;
  }
  QCalendarWidget QAbstractItemView:enabled{
    color:#333333;
  }
  QCalendarView#qt_calendar_calendarview {
    background-color:  rgba(0,0,0,0 );
    alternate-background-color:rgba(0,0,0,0 );   {
  }